.blog_breadcrumbs_area_two,
.blog_breadcrumbs_area_two.page-banner,
.blog_breadcrumbs_area_two.blog-single-page,
.blog_breadcrumbs_area_two.archive-banner,
.blog_breadcrumbs_area_two.banner-404{
    padding:205px 0px 135px;
    position: relative;
    z-index: 1;
    .overlay_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, .5);
    }
}


.blog_breadcrumbs_area_two{
    .breadcrumb_content {
        .page_title{
            margin-bottom: 20px;
        }
        .post-meta {
            font-size: 18px;
            font-weight: 400;
        }
    }
}

// .parallaxie{
//     background-attachment:  fixed !important;
// }
