 /*
 * default setting for the ddoc setting 
 */
 @import './constant';
 @import "./node_modules/bootstrap/scss/mixins/transition";

 html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-color);
    line-height: var(--body-line-height);
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
	margin: 0.67em 0; 
}
h2{
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
	margin: 0.67em 0; 
}
h4{
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    margin: 0.67em 0; 
}
h5{
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    margin: 0.67em 0; 
}
h6{
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    margin: 0.67em 0; 
}

h1, h2, h3, h5, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: var(--primary-color);
    font-family: var(--headings-font-family);
}

main {
	display: block;
}
a{
 @include transition(var(--link-transition));
}
h2{
    a{
        text-decoration: none;
    }
}
a:hover, 
a:focus, 
a:active, 
h2 a:hover{
  color: var(--hovercolor);
}

a:visited {
	color: var(--visitedlink)
}
a:hover,
a:active {
	outline: 0;
}
.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
.comment-list{
    list-style: none;
    ul{
        list-style: initial;
    }
}
.text-white{
    color: var(--color-white);
    h2,.page-title{
        color: var(--color-white);
        line-height: 1.5;
        word-break: break-word;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .breadcrumb,.breadcrumbs{
        .breadcrumbs__link{
            color: var(--color-white);
            text-decoration: none;
        }
        li a{
            color: var(--color-white);
        }
    } 
    .post-meta{
        color: #fff;
        span:not(:last-child):after{
            background: #fff;
        }
        a{
            color: #fff;
            &:focus{
                outline: none;
            }
            &:hover{
                color: var(--hovercolor);
            }
        }
    }
}
.breadcrumb_content {
    max-width: 780px;
    margin: 0 auto;
}
.breadcrumb li a{
    text-decoration: none;
}
.sec_padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.banner-with-color{
    background-color: var(--secondary-color);
}
.site-footer{
    padding: 20px 0;
    background-color: var(--site_footer_bg);
    color: var(--body-color);
    a{
        color: var(--primary-color);
    }
    @media (max-width:767px) {
        text-align: center;
    }
}


.container{
    @media (min-width:1200px){
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .row{
      @media (min-width:1200px){
        margin-right: calc(var(--bs-gutter-x)/ -1.6);
        margin-left: calc(var(--bs-gutter-x)/ -1.6);
        & >*{
          padding-right: calc(var(--bs-gutter-x)/ 1.6);
          padding-left: calc(var(--bs-gutter-x)/ 1.6);
        }
      }
      
    }
  }
  .ddoc-d-none{
    display: none;
  }
  .ddoc-single-post{
      position: relative;
      padding-top: 30px;
      .ajx-progress{
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: rgba(255, 0, 0, 0.562);
        left: 0;
        top: -33px;
        transition: all .4s;
     }
     .entry-header{
         .entry-title{
             margin: 0px;
             font-size: 36px;
             font-weight: 600;
             color: var(--link-color);
             line-height: 1.3;
         }
         .ddoc-single-post-meta{
             li{
                 display: inline-block;
                 font-weight: 400;
                 font-size: 13px;
                 color:#929AB2;
                 font-family: 'Roboto', sans-serif;
                 margin-right: 8px;
                 a{
                     color: #2579FF;
                     text-decoration: underline;
                 }
                 i{
                     font-size: 12px;
                     margin-right: 5px;
                 }
             }
         }
     }
     .entry-content{
         margin-top: 40px;
     }
     .ddoc-page-content{
         p{
             color: #677789;
             font-size: 16px;
             line-height: 26px;
         }
     }
  }
  .doc-sidebar-right{
      margin-left: 80px;
      padding: 38px 35px;
  }
.wp-block-ddoc-block-zoomtext{
    .btn-group{
        background: #FFFFFF;
        border: 1px solid #929AB2;
        border-radius: 3px;
        button{
            font-size: 14px;
            color:#929AB2;
            border: 0px;
            font-weight: 400;
            margin-left: 0 !important;
            box-shadow: none;
            padding: 7px 6px;
            min-width: 35px;
            text-align: center;
            line-height: 1;
            background: #fff;
            &.ddoc-font-size-reset{
                border-left: 1px solid #929AB2;
                border-right: 1px solid #929AB2;
                color: #C9CBD1;
            }
        }
    } 
    .print-ddoc{
        font-size: 22px;
        color: #929AB2;
        vertical-align: middle;
        margin-left: 12px;
        &:hover{
            color: #2579FF;
        }
    }    
}
 